.dw-grad {
	background: linear-gradient(to right, #f4f4f4, #d3d3d3);
}

.bg-contact {
	background-image: url("../img/contact.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
