<footer id="contact-us" class="bg-dark text-bg-dark text-center pt-5 pb-4">
    <div class="container">
        <div class="row justify-content-center align-content-center py-4">
            <div class="col-md-5">
                <h3>Get in touch</h3>
                <p class="mb-0">
                    Phone: <a class="text-primarylight text-decoration-none" href="tel:{{phoneExt}}">{{phone}}</a>
                </p>
                <p class="d-block">
                    Email: <a class="text-primarylight text-decoration-none"
                        href="mailto:info@dwco-construction.co.uk">info@dwco-construction.co.uk</a>
                </p>
            </div>
            <div class="col-md-3"> <img class="mx-auto d-block" src="img/brand/dwco-logo-invert.svg"
                    alt="dw & co construction" width="220" height="auto"></div>
        </div>
        <div class="copyright text-center pt-5">
            <small> Copyright © <span id="year"></span> DW &amp; Co Construction.
                <hr class="d-md-none" />Built by <a class="btn-link text-primarylight text-decoration-none"
                    href="//widesign.co.uk" target="_blank">WideSign</a>
            </small>
        </div>
    </div>
</footer>