<header class="d-flex flex-wrap justify-content-center py-3 mb-1">
    <a href="/" class="col-md align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg> -->
        <img class="bi me-md-2 d-block" src="img/brand/dwco-logo.svg" alt="dw&co logo" width="220" height="auto" />
        <!-- <span class="fs-4">Simple header</span> -->
    </a>

    <!-- medium up -->
    <div class="col-md d-none d-md-block ms-md-auto text-secondary text-md-end">
        <p class="mb-0 text-secondary h5 fw-light">
            Phone:
            <a class="text-secondary text-decoration-none" href="tel:{{phoneExt}}">
                {{phone}}
            </a>
        </p>
        <p class="d-block text-secondary h5 fw-light">
            Email:
            <a class="text-secondary text-decoration-none" href="mailto:info@dwco-construction.co.uk">
                info@dwco-construction.co.uk
            </a>
        </p>
        <h4 class="d-block text-primary">
            Excellence in construction, from foundation to finish!
        </h4>
    </div>

    <!-- mobile only -->
    <div class="col-md  d-md-none ms-md-auto text-secondary text-center">
        <p class="">
            <a class="btn btn-lg btn-primary" href="tel:{{phoneExt}}">
                Call: {{phone}}
                945
            </a>
        </p>
        <p class="d-block">
            <a class="text-decoration-none" href="mailto:info@dwco-construction.co.uk">
                info@dwco-construction.co.uk
            </a>
        </p>
        <h4 class="d-block text-primary">
            Excellence in construction, from foundation to finish!
        </h4>
    </div>
</header>